{% load static %}
{% load custom_tags %}
<!-- Sidebar -->
<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

    <!-- Sidebar - Brand -->
    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="{% url 'index' %}">
        <div class="sidebar-brand-icon rotate-n-15">
            <i class="fas fa-bolt"></i>
        </div>
        <div class="sidebar-brand-text mx-3">PLGIS</div>
    </a>

    <!-- Divider -->
    <hr class="sidebar-divider my-0">

    <!-- Nav Item - Dashboard -->
    <li class="nav-item">
        <a class="nav-link" href="{% url 'index' %}">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>Dashboard</span></a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider">

    <!-- Heading -->
    <div class="sidebar-heading">
        Components
    </div>

    <li class="nav-item">
        <a class="nav-link" href="{% url 'circuits' %}">
            <i class="fa fa-circle-notch"></i>
            <span>Circuits</span></a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url 'towers' %}">
            <i class="fa fa-broadcast-tower"></i>
            <span>Towers</span></a>
    </li>
    <!-- Divider -->
    <hr class="sidebar-divider">
    {% if user|has_group:"manager" %}
        <li class="nav-item">
            <a class="nav-link" href="{% url 'constructor' %}">
                <i class="fa fa-magic"></i>
                <span>Circuit Constructor</span></a>
        </li>
        <!-- Divider -->
        <hr class="sidebar-divider">

    {% endif %}

    {% if user|has_group:"inspectors" %}
        <div class="sidebar-heading">
            Inspection
        </div>

        <li class="nav-item">
            <a class="nav-link" href="{% url 'img_upload' %}">
                <i class="fa fa-upload"></i>
                <span>Upload images</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'image' %}">
                <i class="fa fa-images"></i>
                <span>Browse images</span>
            </a>
        </li>
         <li class="nav-item">
            <a class="nav-link" href="{% url 'fault' %}">
                <i class="fa fa-highlighter"></i>
                <span>Browse Faults</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'inspection' %}">
                <i class="fa fa-search"></i>
                <span>Inspect</span>
            </a>
        </li>

        <hr class="sidebar-divider">
        <li class="nav-item">
            <a class="nav-link" href="{% url 'inspection' %}">
                <i class="fa fa-file-export"></i>
                <span>Export</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'inspection' %}">
                <i class="fa fa-chart-bar"></i>
                <span>Stats</span>
            </a>
        </li>
    {% endif %}

    <!-- Nav Item - Pages Collapse Menu -->


    <!-- Sidebar Toggler (Sidebar) -->
    <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
    </div>

</ul>
<!-- End of Sidebar -->