{% extends 'plgis/base.html' %}
{% load static %}


{% block title %} PLGIS | Fault {{ fault }} {% endblock %}

{% block additional_styles %}
    <meta name="csrf-token" content="{{ csrf_token }}">
    <link rel="stylesheet" href="{% static 'plgis/css/canvas.css' %}">
    <style>
        .carousel {
            background: rgb(34, 74, 190);
            background: radial-gradient(circle, rgba(34, 74, 190, 1) 20%, rgba(78, 115, 223, 1) 50%);
            text-align: center;
            border-radius: .35rem;
        }

        .carousel svg {
            margin: 0 auto;
            height: 75vh;
        }
    </style>

    <link href="{% static 'sb-admin-2/vendor/datatables/dataTables.bootstrap4.min.css' %}" rel="stylesheet">
    <style>
        tr.link:hover {
            background: #eeeeee;
            text-decoration: none;

        }

        td a {
            display: block;
            text-decoration: inherit;
        }
    </style>

    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/gh/openlayers/openlayers.github.io@master/en/v6.12.0/css/ol.css"
          type="text/css">
    <link rel="stylesheet"
          href="{% static "plgis/css/map.css" %}"
          type="text/css">
    <script src="https://cdn.jsdelivr.net/gh/openlayers/openlayers.github.io@master/en/v6.12.0/build/ol.js"></script>
    <style>
        .map {
            height: 100%;
            width: 100%;
            border-radius: .35rem;
        }
    </style>
{% endblock %}

{% block modals %}
    <div class="modal fade" id="delete-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Are you sure?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span>×</span>
                    </button>
                </div>
                <div class="modal-body">Do you really want to <strong>delete this fault</strong>?</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">
                        <i class="fa fa-cancel"></i> Cancel
                    </button>
                    <a class="btn btn-danger"
                       href="{% url 'fault_delete' circuit_id=fault.address.circuit section_id=fault.address.section fault_id=fault.id %}">
                        <i class="fa fa-trash"></i> Delete
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="edit-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Edit Fault</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span>×</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form class="fault-form"
                          action="{% url 'fault_edit' circuit_id=fault.address.circuit section_id=fault.address.section fault_id=fault.id %}"
                          method="POST">
                        {% include 'plgis/forms/fault_form.html' %}
                    </form>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">
                        <i class="fa fa-ban"></i> Cancel
                    </button>
                    <button class="btn btn-primary">
                        <i class="fa fa-save"></i> Save Changes
                    </button>
                </div>
            </div>
        </div>
    </div>
{% endblock modals %}

{% block content %}
    <div class="row mb-4">
        <div class="col-12">
            <div class="card shadow">
                <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel" data-interval="false">
                    <ol class="carousel-indicators">
                        {% for i in images %}
                            <li data-target="#carouselExampleIndicators" data-slide-to="{{ forloop.counter0 }}"
                                    {% if forloop.counter0 == 0 %} class="active" {% endif %}></li>
                        {% endfor %}
                    </ol>
                    <div class="carousel-inner">
                        {% for i in images %}
                            <div id="canvas" class="carousel-item {% if forloop.counter0 == 0 %}active{% endif %}">
                                <svg viewBox="0 0 {{ i.get_dimensions.0 }} {{ i.get_dimensions.1 }} ">
                                    <image href="\{{ i.get_media_path }}"
                                           x="0"
                                           y="0"
                                           draggable="false"
                                           transform="translate(0,0)"/>
                                    {% for mark in marks %}
                                        {% if mark.image == i %}
                                            <polygon id="{{ mark.id }}" points="{{ mark.marking }}"/>
                                        {% endif %}
                                    {% endfor %}
                                </svg>
                                <div class="carousel-caption d-none d-md-block">
                                    <h5>{{ fault }}@<a
                                            href="{% url 'image' circuit_id=i.circuit.id section_id=i.properties.section image_id=i.id %}">{{ i.get_fname }}</a>
                                    </h5>
                                    <p>Circuit: {{ i.circuit.id }}</p>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
                <div class="card-body">
                    <h3 class="text-center card-title">{{ fault }}</h3>
                    <div class="row mb-4">
                        <div class="col-6">
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item">Circuit: <a
                                        href="{% url 'circuit' id=circuit.id %}">{{ circuit.identifier }}</a></li>
                                <li class="list-group-item">Section: <a
                                        href="{% url 'inspection' circuit_id=circuit.id section_id=fault.address.section %}">{{ fault.address.section }}</a>
                                </li>
                                <li class="list-group-item">Traverse: {{ fault.address.traverse }}</li>
                                <li class="list-group-item">Side: {{ fault.address.side }}</li>
                                {% if fault.get_macro_type == 'Span Field' %}
                                    <li class="list-group-item">Bundle: {{ fault.address.bundle }}</li>
                                    <li class="list-group-item">Cable: {{ fault.address.cable }}</li>
                                {% endif %}
                                <li class="list-group-item">Component: {{ fault.component }}</li>
                                <li class="list-group-item">Type: {{ fault.type }}</li>
                                <li class="list-group-item">Severity: {{ fault.severity }}</li>
                                <li class="list-group-item">Author: <a
                                        href="{% url 'user' id=fault.author.id %}">{{ fault.author }}</a></li>
                                <li class="list-group-item">Date Inspected: {{ fault.date_added }}</li>
                                <li class="list-group-item">Comment: {{ fault.comment }}</li>
                            </ul>
                        </div>
                        <div class="col-6">
                            <div class="map" id="map">
                            </div>
                            <div id="popup" class="ol-popup">
                                <a href="#" id="popup-closer" class="ol-popup-closer"></a>
                                <div id="popup-content"></div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            {% include "plgis/widgets/image_list.html" %}
                        </div>
                    </div>
                </div>
                <div class="card-footer text-center">
                    <button class="btn btn-danger" data-toggle="modal" data-target="#delete-modal">
                        <i class="fa fa-trash"></i> Delete
                    </button>
                    <button class="btn btn-primary" data-toggle="modal" data-target="#edit-modal">
                        <i class="fa fa-pen"></i> Edit
                    </button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block additional_scripts %}
    <script>
        var $form = $('form.fault-form')

        $form.find('.address:input').on('focus', function () {
            $.ajax({
                url: '{% url 'fault' circuit_id=circuit.id section_id=section fault_id=fault.id  %}',
                type: "POST",
                headers: {
                    "X-CSRFToken": $('meta[name="csrf-token"]').attr('content')
                },
                dataType: 'json',
                data: new FormData($form.get(0)),
                processData: false,
                contentType: false,
                success: function (data) {
                    if (data.circuit) {
                        for (var c of data.circuit) {
                            $(`<option value="${c[0]}">${c[1]}</option>`)
                                .appendTo($form.find('#circuit'))
                        }
                        return
                    }
                    if (data.section_type) {
                        for (var st of data.section_type) {
                            $(`<option value="${st[0]}">${st[1]}</option>`)
                                .appendTo($form.find('#section-type'))
                        }
                    }
                    if (data.section) {
                        for (var t of data.section) {
                            $(`<option value="${t[0]}">${t[1]}</option>`)
                                .appendTo($form.find('#section'))
                        }
                    }
                    if (data.traverse) {
                        for (var t of data.traverse) {
                            $(`<option value="${t}">${t}</option>`)
                                .appendTo($form.find('#traverse'))
                        }
                    }
                    if (data.side) {
                        for (var s of data.side) {
                            $(`<option value="${s}">${s}</option>`)
                                .appendTo($form.find('#side'))
                        }
                    }
                    if (data.bundle) {
                        for (var b of data.bundle) {
                            $(`<option value="${b}">${b}</option>`)
                                .appendTo($form.find('#bundle'))
                        }
                    }
                    if (data.cable) {
                        for (var c of data.cable) {
                            $(`<option value="${c}">${c}</option>`)
                                .appendTo($form.find('#cable'))
                        }
                    }
                },
            })


        });

        $form.find("select#section-type").on('input', function () {
            console.log('fired');
            if ($(this).val() == 'tower') {
                $form.find('select#bundle').attr('disabled', true)
                $form.find('select#cable').attr('disabled', true)
            }
            //else {
            //    $form.find('select#side').attr('disabled', true)
            //}
        });

        // add new mark type from the text input into the options of the neighboring select
        $form.find('button#add-new-type').click(function () {
            var val = $form.find('input#new-type').val();
            $(`<option value="${val}">${val}</option>`)
                .appendTo($form.find('select#type'));
        });
        // add new component from the text input into the options of the neighboring select
        $form.find('button#add-new-component').click(function () {
            var val = $form.find('input#new-component').val();
            $(`<option value="${val}">${val}</option>`)
                .appendTo($form.find('select#component'));
        });

    </script>
    <script src="{% static 'sb-admin-2/vendor/datatables/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'sb-admin-2/vendor/datatables/dataTables.bootstrap4.min.js' %}"></script>

    <script>
        $(document).ready(function () {
            $('#dataTable').DataTable();
            $('#dataTable tr').click(function () {
                var href = $(this).attr('data-href');
                $(`<a href="${href}"></a>`)[0].click();
            })

            var styles = {
                'tower': function (f) {
                    return [
                        new ol.style.Style({
                            image: new ol.style.RegularShape({
                                fill: new ol.style.Fill({color: 'white'}),
                                stroke: new ol.style.Stroke({color: 'black', width: 2}),
                                points: 3,
                                radius: 10,
                                rotation: 0,
                                angle: 0,
                            }),
                        }),
                    ]
                },
                'cam_pos': function (f) {
                    return [
                        new ol.style.Style({
                            image: new ol.style.Circle({
                                fill: new ol.style.Fill({color: 'rgba(255,255,255,0)'}),
                                stroke: new ol.style.Stroke({color: '#808080', width: 2}),
                                radius: 8,
                            }),
                        }),
                    ]
                },
                'cam_pos_actual': function (f) {
                    return [
                        new ol.style.Style({
                            image: new ol.style.Circle({
                                fill: new ol.style.Fill({color: 'rgb(255,251,0)'}),
                                stroke: new ol.style.Stroke({color: '#808080', width: 2}),
                                radius: 8,
                            }),
                        }),
                    ]
                }
            }

            var map = new ol.Map({
                target: 'map',
                layers: [
                    new ol.layer.Tile({
                        source: new ol.source.OSM()
                    }),
                    new ol.layer.Vector({
                        source: new ol.source.Vector({
                            features: [
                                {% for t in circuit.get_towers %}
                                    new ol.Feature({
                                        geometry: new ol.geom.Point(ol.proj.fromLonLat(
                                            [{{ t.position.x  }}, {{ t.position.y }}])),
                                        popup: '{{ t.identifier }}'
                                    }),
                                {% endfor %}
                            ],
                        }),
                        style: styles['tower']
                    }),
                    new ol.layer.Vector({
                        source: new ol.source.Vector({
                            features: [
                                {% for i in circuit.get_images %}
                                    {% if i != image %}
                                        new ol.Feature({
                                            geometry: new ol.geom.Point(ol.proj.fromLonLat([
                                                {{i.position.x}}, {{ i.position.y }}
                                            ])),
                                            popup: '{{ i.get_fname }}'
                                        }),
                                    {% endif %}
                                {% endfor %}
                            ]
                        }),
                        style: styles['cam_pos']
                    }),
                    new ol.layer.Vector({
                        source: new ol.source.Vector({
                            features: [
                                {% for image in images %}
                                    new ol.Feature({
                                        geometry: new ol.geom.Point(ol.proj.fromLonLat([
                                            {{ image.position.x }}, {{ image.position.y }}
                                        ])),
                                        popup: '{{ i.get_fname }}'
                                    }),
                                {% endfor %}
                            ]
                        }),
                        style: styles['cam_pos_actual']
                    }),

                ],
                view: new ol.View({
                    center: ol.proj.fromLonLat([{{ fault.get_position.x }}, {{ fault.get_position.y }}]),
                    zoom: 16
                })
            });

            var container = document.getElementById('popup');
            var content = document.getElementById('popup-content');
            var closer = document.getElementById('popup-closer');

            var overlay = new ol.Overlay({
                element: container,
                autoPan: true,
                autoPanAnimation: {
                    duration: 250
                }
            });
            map.addOverlay(overlay);

            closer.onclick = function () {
                overlay.setPosition(undefined);
                closer.blur();
                return false;
            };

            map.on('singleclick', function (event) {
                map.forEachFeatureAtPixel(event.pixel, function (f, l) {
                    var coordinate = event.coordinate;
                    content.innerHTML = f.get('popup');
                    overlay.setPosition(coordinate);
                })
            });
        });
    </script>
{% endblock %}