{% extends 'plgis/base.html' %}
{% load custom_tags %}
{% block title %} PLGIS | Inspection {% endblock %}

{% block content %}
    <div class="row">
        <div class="col-6">
            <div class="card shadow">
                <div class="card-header">
                    <h3 class="text-primary">Choose a Tower</h3>
                </div>
                <div class="card-body">
                    <ul>
                        {% for t in towers %}
                        <li>
                            <a href="{% url 'inspection' circuit_id=circuit.id section_id=t.identifier %}">
                                {{ t.identifier }}
                            </a>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="card-footer"></div>
            </div>
        </div>
        <div class="col-6">
            <div class="card shadow">
                <div class="card-header">
                    <h3 class="text-primary">Choose a Span Field</h3>
                </div>
                <div class="card-body">
                    <ul>
                        {% for sf in span_fields %}
                        <li>
                            <a href="{% url 'inspection' circuit_id=circuit.id section_id=sf %}">
                                {{ sf }}
                            </a>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="card-footer"></div>
            </div>
        </div>
    </div>

{% endblock %}