{% extends "plgis/base.html" %}

{% block title %}PLGIS | Inspection {% endblock %}

{% block content %}
    <div class="row">
        <div class="col-3"></div>
        <div class="col-6">
            <div class="card shadow">
                <div class="card-header">
                    <h3 class="text-primary">Select circuit to inspect</h3>
                </div>
                <div class="card-body">
                    <ul>
                        {% for c in circuits %}
                            <li>
                                <a href="{% url 'inspection' c.id %}">{{ c.identifier }}</a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="card-footer"></div>
            </div>
        </div>
        <div class="col-3"></div>
    </div>

{% endblock %}